<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="styles/app.css">

</head>
<body>
<div ng-controller="SoundPlayerController">
    <section layout="row" layout-align="left center" layout-wrap>
        <md-select class="no-margin" aria-label="select track" ng-model="track" layout-wrap>
            <md-option ng-value="item" ng-repeat="item in tracks">{{item.file.replace('media/', '')}}</md-option>
        </md-select>
        <md-input-container>
            <md-button class="md-fab md-mini md-primary" aria-label="play/stop" ng-click="playing ? stop() : play()">
                <md-icon ng-show="!playing"  md-font-icon="mdi mdi-play" ng-style="{'font-size': '29px', height: '30px'}"></md-icon>
                <md-icon ng-show="playing" md-font-icon="mdi mdi-stop" ng-style="{'font-size': '29px', height: '30px'}"></md-icon>
            </md-button>
        </md-input-container>
        <md-checkbox ng-model="microphoneOn" aria-label="Microphone On">Microphone On</md-checkbox>
        <md-checkbox ng-model="soundOn" aria-label="Microphone On">Sound On</md-checkbox>
        <md-checkbox ng-model="visualizationOn" aria-label="Visualization On">Visualization</md-checkbox>
    </section><!--
    <sound-visualization analyser="onsetDetection.analyser"></sound-visualization>-->
    <div style="float: left; color:white;" ng-style="{'background': color}" ng-repeat="(type,color) in onsetColors">{{type}}</div>
    <div style="clear:both;"></div>

    <div ng-if="visualizationOn" style="overflow-x: auto; direction: rtl;">
        dz
        <array-visualization data="onsetDetection.localMaximums"></array-visualization>
        <array-visualization data="onsetDetection.ddf"></array-visualization><!--
        mfcc
        <array-visualization data="sparedOnsetDetection.localMaximums"></array-visualization>
        <array-visualization data="sparedOnsetDetection.ddf"></array-visualization>-->
    </div>
    <!--<div ng-repeat="onset in onsets.slice().reverse()">
        <md-checkbox ng-model="onset.selected">{{$index+1}} max freq: {{onset.topBand}}</md-checkbox>
        <array-visualization  data="onset.freq"></array-visualization>
    </div>-->

    <section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
        <md-select aria-label="select drum type" ng-model="drumType">
            <md-option ng-value="drum" ng-repeat="drum in drumTypes">{{drum}}</md-option>
        </md-select>
        <md-select aria-label="select track repeat" ng-model="repeatTimes">
            <md-option ng-value="val" ng-repeat="val in repeatVariants">{{val}}</md-option>
        </md-select>
        <md-button class="md-raised md-primary" ng-click="gatherLearnData(drumType, repeatTimes)">Learn</md-button>
        <md-button class="md-raised md-primary" ng-click="test(repeatTimes)">Test all</md-button>
    </section>
</div>







<!-- Below is library scripts -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/mathjs/dist/math.js"></script>
<script src="node_modules/midifile/dist/MIDIFile.js"></script>
<script src="node_modules/synaptic/dist/synaptic.min.js"></script>


<!-- Below is your custom library scripts -->
<script src="js/hmm.js"></script>
<script src="js/model-maker.js"></script>
<script src="js/dsp-helpers.js"></script>
<script src="js/onset-detector.js"></script>
<script src="js/spared-onset-detector.js"></script>

<!-- Below is your custom application scripts -->
<script src="ng-app/app.js"></script>
<script src="ng-app/sound.js"></script>
<script src="ng-app/SoundPlayerController.js"></script>
<script src="ng-app/soundService.js"></script>
<script src="ng-app/myOnsetDetector.js"></script>
<script src="ng-app/soundVisualizationDirective.js"></script>
<script src="ng-app/midiParser.js"></script>
<script src="ng-app/soundDrumDetector.js"></script>

</body>
</html>